.navPanel{
	display: flex;
	font-weight: 600;
	font-size: 1.6em;
	text-align: center;
	line-height: 59px;
	margin: 0;
	padding: 0 35px;
	border-bottom: 1px solid #E3E1E7;
}

.link{
	display: block;
	position: relative;
	margin-right: 40px;
	padding: 0 15px;
	color: #252525;
	text-decoration: none;
}
.active::after{
	content: '';
	display: block;
	position: absolute;
	left: -10%;
	width: 120%;
	height: 2px;
	background-color: #2B79EE;
}
