.header {
	width: 100%;
	height: 92px;
	border-bottom: 1px solid #E3E1E7;
}

.header__wrapp {
	height: 92px;
	display: flex;
	align-items: center;
}

.brand {
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #2B79EE;
}